*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
li{
    background-color: rgb(122, 159, 159);
    width: 300px;
    height: 400px;
}
.form{
    background-color: rgb(122, 159, 159);
    width: 50%;
    height: 70%;
    border-radius: 10px;
    padding: 2%;
    row-gap: 20px;
}
input,textarea{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.btn-submit{
    padding: 2%;
    margin-right: 0%;
}
.nav{
    background-color:  rgb(122, 159, 159);
}